build/
build-rel/
build-dbg/
build-switch/
build-win/
*.zip
difficulty_unlock.dat
*.o
*.obj
*.exe
*.nro
*.nacp
*.elf
.cache/
compile_commands.json
.vscode/
*.swp
*.swo
save.dat
assets/config/controls.json
assets/audio/
save_*.dat
__pycache__/
*.pyc
logs/
*.log
